*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-image: url('./assets/background.png') !important;
  height: 100% !important;
  background-attachment: fixed !important;
  background-position: top !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

@media (max-width: 425px){
  body{
    background-image: url('./assets/background-mobile.png') !important;
    background-position: top !important;
    background-position: cover !important;
  }
}